extends layout

block content
  div.container
    div.page-header
      h1 Search Element for Evaluation
    div.panel.panel-default
      div.panel-heading Search
      div.panel-body
      fieldset
        div.container-fluid
          div.row
            div.col-md-6
              input#className.form-control(type='text', placeholder='Class Name')
            div.col-md-6
              input#methodName.form-control(type='text', placeholder='Method Name')
            div.col-md-6
              br
              button#search.btn.btn-default Search
              br
              br
            div.col-md-6
              br
              select#db_id.form-control
                option(value=0) ActiveMQ
                option(value=1) Airavata
                option(value=2) Jetty
                option(value=3) Vuze
                option(value=4) Wildfly-Core
    h1#txtResult Results
    #resultList
