doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="/javascript/jquery.min.js")
    script(src="/javascript/bootstrap.min.js")
    script(src="/javascript/global.js")
  body
    block content
