target
/*.xal
*.class
/*.csv
/config/*csv
/*.json
/*.log
.idea
*.iml
**/.idea/workspace.xml
**/.idea/tasks.xml
*.dot
*.png
*.zip
*.pdf

**/.head_development

[^(pom|log4j)]*.xml

logs
usage
daikon-instrumentation
code-instrumentation/traces*

#[^log4j2]*.xml

project_eval/
evaluation/src/main/nodejs/evaluation_recall/node_modules/
dependency-reduced-pom.xml
public/
config/
outputDir/
outputDirTmp/