before_script:
  - mvn -v
  - java -version

stages:
  - compile
  - test
  - deploy

compile:
  stage: compile
  script:
    - mvn clean compile

test:
  stage: test
  script:
    - mvn test

release:
  stage: deploy
  script:
    - mvn clean package -DskipTests=true
  artifacts:
    paths:
    - server/target/server*.jar
    - intermediate-model/target/intermediate-model*.jar
    - code-instrumentation/target/code-instrumentation*.jar
    - usage/target/usage*.jar

pages:
  stage: deploy
  script:
  - mvn clean package -DskipTests=true
  - mkdir .public
  - cp -r target/site/apidocs/ .public
  - mv .public public
  artifacts:
    paths:
    - public
  only:
  - master