target
/*.xal
*.class
/*.csv
/*.json
/*.log
.idea
*.iml
**/.idea/workspace.xml
**/.idea/tasks.xml
*.dot
*.png
*.zip
*.pdf
[^pom]*.xml
project_eval/
evaluation/src/main/nodejs/evaluation_recall/node_modules/
dependency-reduced-pom.xml
public/
